/* General styles */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Raleway:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

:root {
    --primary-color: #1a1a1a;
    --secondary-color: #ffffff;
    --timer-work: #ff0000;
    --background-red: #ff6962;
    --background-green: #30dba9;
    --timer-break: #04a777;
}

body {
    transition: all 0.5s ease-in-out;
    max-width: 750px;
    margin: auto;
    background-size: 200vw;
    background-position-x: left;
    background-clip: border-box;
    background-image: linear-gradient(
        90deg,
        var(--background-red) 0%,
        var(--background-red) 50%,
        var(--background-green) 50%
    );
}

/* Main Title */

#main-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}

#main-title img {
    width: 60px;
    margin: 0 2rem 0 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    margin-right: 1.5rem;
    font-family: "Playfair Display", serif;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
}

/* Container layout */

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 2rem;
}

/* Phase display */

div#phases {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

div#phases p {
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: var(--secondary-color) solid 2px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

/* Timer */

div#timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    background-color: var(--timer-work);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: #ffffff solid 8px;
    font-size: 3rem;
    transition: all 0.5s ease-in-out;
}

div#controlTimerButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 100%;
}

div#controlTimerButtons button {
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

/* Timer options inputs style */

form.timerOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

form.timerOptions div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form.timerOptions div div {
    flex-direction: column;
}

form.timerOptions input {
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

form.timerOptions input:focus {
    outline: none;
}

form.timerOptions label {
    font-size: 1.3rem;
    font-weight: 700;
}

form.timerOptions div.notificationCheck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input#notificationCheck {
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

/* Dev tools style */

.devTools {
    text-align: center;
}

.devTools h2 {
    cursor: pointer;
}

.devTools div#devButtons {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.devTools div button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.devTools div button:focus {
    transform: translateY(5px);
}

/* Footer style */

footer {
    padding: 1rem;
    border-top: var(--secondary-color) solid 2px;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

footer a:hover {
    color: var(--primary-color);
}